
<!--<form [formGroup]="loginForm">
    <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input formControlName="username" type="text" placeholder="Username">

    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input formControlName="password" type="password" placeholder="Password">
    </div>

    <button (click)="onLogin()" type="submit" class="btn btn-primary">Submit</button>
</form>
-->
<form [formGroup]="loginForm">
    <div class="form-group">
        <label for="exampleInputEmail1">Email</label>
        <input formControlName="username" type="text" placeholder="Username">
        
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input formControlName="password" type="password" placeholder="Password">
    </div>
    

    <button (click)="onLogin()" type="submit" class="btn btn-primary">Submit</button>

</form>

    <div *ngIf="result">
        <h3>Your Token</h3>
        <textarea style="width:300px; height:150px"> {{result}}</textarea>

    </div>
